<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.shihx.index" android:versionCode="1" android:versionName="1.0">
	
	<uses-permission android:name="android.permission.INTERNET" />  
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
 	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
 	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
	<application android:icon="@drawable/icon" android:label="@string/app_name" >
		<activity android:name="com.shihx.index.IndexActivity" android:label="@string/app_name" android:theme="@style/Theme.Sherlock" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.shihx.index.ActionItemActivity" android:label="@string/action_activity_str" android:theme="@style/Theme.Sherlock">
		    <intent-filter >
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
		<activity android:name="com.shihx.index.ImageActivity" android:label="@string/image_activity_str" android:theme="@style/Theme.Sherlock">
		    <intent-filter >
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
		<activity android:name="com.shihx.index.ActionBarViewpager" android:label="@string/actionbar_viewpager_activity_str" android:theme="@style/Theme.Sherlock">
		    <intent-filter >
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
		<activity android:name="com.shihx.index.LetterListView" android:label="@string/letter_listview_str" android:theme="@style/Theme.Sherlock">
		    <intent-filter > 
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
		<activity android:name="com.shihx.index.AnimationActivity" android:label="@string/animationActivity" android:theme="@style/Theme.Sherlock">
		    <intent-filter > 
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
		<activity android:name="com.shihx.index.GPSInfoActivity" android:label="@string/GPSInfoActivity" android:theme="@style/Theme.Sherlock">
		    <intent-filter > 
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
		
		<activity android:name="com.shihx.index.CircleActivity" android:label="@string/circlecctivity_str" android:theme="@style/Theme.Sherlock">
		    <intent-filter > 
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
		
		<activity android:name="com.shihx.index.GlSurfaceViewActivity" android:label="@string/glsurface_view_str" android:theme="@style/Theme.Sherlock">
		    <intent-filter > 
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
		<activity android:name="com.shihx.index.DevicesInfo" android:label="@string/device_info_str" android:theme="@style/Theme.Sherlock">
		    <intent-filter > 
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
		<activity android:name="com.shihx.index.scroll.viewpager.AutoScrollPagerActivity" android:label="@string/scroll_viewpager_str" android:theme="@style/Theme.Sherlock">
		    <intent-filter > 
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="com.shihx.index.demos" />
		    </intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="8" />

</manifest> 